{
    "baseUrl": "urlbase from project",

    "email": "fill in the test email here",
    "password": "fill in the test password here",

    "emailError": "fill in the test email error here",
    "passwordError": "fill in the test password error here"
}